.contenedor{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    min-height: 92vh;
    ion-icon{
      font-size: 8rem;
      color: var(--icono);
    }

input,button{
    width: 90%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius:1.25rem;
    text-align: center;
    font-size: 1.1rem;
  }

input{
    background-color: var(--fondo-input);
    color: black;
}
button{
  background-color: var(--icono);
}
}

.separador {
  display: flex;
  justify-content: space-between;
  background-color: var(--fondo);

  ion-icon {
    padding: 20px 20px 0 20px;
  }
}
#tema, ion-icon{
  color: var(--icono-tema);
  
  font-size: 1.8rem;
}
