.adminxD{
    display: flex;
    justify-content: center;
}
ion-icon{
    font-size: 4rem;
    color: var(--icono);
}
.textoredundante{
    justify-items: center;
}
#tema{
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8rem;
  }
  