.contenedor{
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    min-height: 10vh;
}
    ion-icon{
        font-size: 8rem;
        color: var(--icono);
    }


ion-button{
    width: 20%;
    height: 2.5rem;
    border-radius:1rem;
    text-align: center;
    font-size: 1.1rem;
}

#tema{
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8rem;
  }
  