.contenedor{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.NOSEXD{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: end;
}