<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos a MakakoAPP</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="contenedor">
  <h1>Bienvenidos a RegistraAPP</h1>
  <div class="NOSEXD">
  <ion-button shape="round">Ingreso</ion-button>
  <ion-button shape="round">Escanear QR.</ion-button>
  <ion-button shape="round">Desplegar camara</ion-button>
  
  <ion-button [routerLink]="['/admin']">Go to admin</ion-button>x
</div>
</div>
</ion-content>
