<ion-header [translucent]="true">
    <ion-title>Bienvenidos a MakakoAPP </ion-title> 
    <ion-icon src="/assets/{{icono}}.svg" id="tema"(click)="cambiarTema()"></ion-icon>
  </ion-header>
<ion-content [fullscreen]="true">
  <div class="contenedor">
  <div class="ALO">
  <ion-icon src="/assets/logo.svg"></ion-icon>
  <h1>Bienvenidos a MakakoAPP</h1>
  </div>
  <div class="NOSEXD">
  <ion-button [routerLink]="['/home']" shape="round">Registrarse</ion-button>
  <ion-button [routerLink]="['/escanear-qr']" shape="round">Escanear QR.</ion-button>
  <ion-button [routerLink]="['/admin']" shape="round">Admin</ion-button>
</div>
</div>
</ion-content>
