
<ion-content [fullscreen]="true">
<ion-icon src="/assets/{{icono}}.svg" id="tema"(click)="cambiarTema()"></ion-icon>
  <div class="contenedor">
  <ion-icon src="/assets/logo.svg"></ion-icon>
  <h2>Bienvenidos a MakakoAPP</h2>
  <button [routerLink]="['/escanear-qr']" shape="round" id="boton">Generar QR.</button>
  <button [routerLink]="['/admin']" shape="round" id="boton">Profesor</button>
  <button [routerLink]="['/home']" shape="round" id="boton">Cerrar sesion.</button>
  </div>
</ion-content>
