

<ion-content [fullscreen]="true">
  <div class="separador">
    <a [routerLink]="['/inicio']"><ion-icon src="/assets/volver.svg" > </ion-icon> </a>
    <ion-icon src="/assets/{{icono}}.svg" id="tema"(click)="cambiarTema()"></ion-icon>
  </div>

 <div class="contenedor">
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="" id="qr">
  <div class="claseInfo">
    <h6>Programacion Aplicaciones moviles</h6>
    <p> Seccion 001D 01:10 - 02:50</p>
  </div>  
</div>
</ion-content>
