
// estilo fondo
.contenedor{
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-height: 100vh;
}

//estilo tema icono
#tema{
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8rem;
  }
  