<ion-header [translucent]="true">
  <ion-icon src="/assets/{{icono}}.svg" id="tema"(click)="cambiarTema()"></ion-icon>
    <ion-title>escanearQR</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="contenedor">
  <a href="https://imgflip.com/i/92tlf3"><img src="https://i.imgflip.com/92tlf3.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator"></a></div>
 <ion-button (click)="navegar()" shape="round">volver</ion-button> 
  </div>
</ion-content>
